/*

Author: wwww.developers.today
Email: devtoday22@gmail.com
Github profile: https://github.com/devtoday22
Live link: developers.today/qr */

/* Reset CSS Style */


.mainContainer {

  width: 320px;
  height: 497px;
  margin: 10% auto;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
  border-radius: 5px;
}

.image img {

  border-radius: 5px;

}

.image {

  padding: 10px;
  border-radius: 3px;
  text-align: center;
}

.text {

  margin: 10px 16px auto 16px;

}

.headline {

  font-size: 20px;
  background-color: initial;
  padding-left: 18px;
  padding-right: 18px;
  font-weight: 700;
  color: #1F314F;
}

.description {

  color: #7D889E;
  font-size: 15px;
  font-weight: 400;
  padding: 24px 18px 3px 18px;
}